.container-app{
    min-height: 100vh;
    position: relative;
    background: #fff;
}
main{
    display: flex;
    position: relative;
}
.sections-container{
    /* max-width: 1000px; */
    /* margin:auto; */
    padding: 15px;    
    padding-bottom: 200px;
    flex: 1;
    height: 100%;
}
.preview{
    flex: 1;
    padding: 30px;
    max-height: 1000px;
    position: sticky;
    top: 0;
}
.preview .cv-container{
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
section{
    margin:  30px 0;
    border: 1px solid #ccc;
}
header{
    border-bottom:1px solid #80b8de;
    padding:0 50px;
    display: flex;
    gap: 300px;
    height: 100px;
}
footer{
    height:100px; 
    width:100%;
    background:#80b8de;
    display:flex;
    justify-content:center ; 
    align-items:center;
    position:absolute;
    bottom:0;
    left:0;
}
footer p{
    color:"#fff";
    font-size:"18px";
    font-weight:"400";
}
.skills-section{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
::placeholder{
    color: #80b8de;
    font-size: 16px;
}
input{
    width: 100%;
    padding:10px;
    border:1px solid #004CB0;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
    outline: 0;
    border: 2px solid #80b8de;
    border-radius: 10px;
}
.section-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #619699;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}
.add-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    background: #80b8de;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.skills-list{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.skills-list .item{
    border: 1px solid #ccc;
    background: #fff;
    padding: 8px 10px;
    border-radius: 10px;
}
.skills-list .item .skill_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    font-weight: 500;
}
.skill_item button{
    border: 0;
    background: transparent;
    color: rgb(218, 7, 7);
    margin-top: 3px;
    font-size: 18px;
    cursor: pointer;
}
.item .progress{
    border-radius: 20px;
    margin-top: 8px;
    background: #ccc;
}
.progress .bar{
    background: #619699;
    height: 100%;
    border-radius: inherit;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s linear;
    border-radius: 25px;
}
.menu ul li a:hover{
    background: #619699;
    color: #fff;
}