.container-app{
    min-height: 100vh;
    position: relative;
    background: #fff;
}
.sections-container{
    max-width: 1000px;
    margin:  auto;
    padding: 100px 0;
    
}
section{
    margin:  30px 0;
}
header{
    border-bottom:1px solid #f5f5f5;
    padding:0 50px;
}
footer{
    height:100px; 
    width:100%;
    background:#80b8de;
    display:flex;
    justify-content:center ; 
    align-items:center;
    position:absolute;
    bottom:0;
    left:0
}
footer p{
    color:"#fff";
    font-size:"18px";
    font-weight:"400";
}
.skills-section{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
::placeholder{
    color: #80b8de;
    font-size: 16px;
}
input{
    width: 100%;
    padding:10px;
    border:1px solid #80b8de;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
    outline: 0;
    border: 2px solid #80b8de;
}
.section-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #80b8de;
    margin-bottom: 20px;
    cursor: pointer;
}
.add-skill-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    background: #80b8de;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}




