.container-app{
    min-height: 100vh;
    position: relative;
    background: #fff;
}
main{
    display: flex;
    position: relative;
}
.sections-container{
    padding: 15px;    
    padding-bottom: 200px;
    flex: 1;
    height: 1300px;
    overflow-y: auto;
     
}
.preview {
    flex: 1;
    padding: 30px ;
    height: 1300px;
     
    width: 921px ;

     
}
 
.preview .cv-container{
    width: 100%;
    height: 100%;

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
    
}
section{
    margin:  30px 0;
    border: 1px solid #ccc;
}   
header{
    border-bottom:1px solid #80b8de;
    padding:0 50px;
    display: flex;
    gap: 300px;
    height: 100px;
}
footer{
    height:100px; 
    width:100%;
    background:#80b8de;
    display:flex;
    justify-content:center ; 
    align-items:center;
    /* position:absolute;
    bottom:0;
    left:0; */
}
footer p{
    color:"#fff";
    font-size:"18px";
    font-weight:"400";
}
.skills-section , .personal-info-section ,.education-section ,.experiences-section ,.languages-section{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
::placeholder{
    /* color: #80b8de; */
    font-size: 16px;
    color: #619699;
}
input ,textarea{
    width: 100%;
    padding:10px;
    /* border:1px solid #004CB0; */
    color: #333;
    font-size: 16px;
    transition: 0.3s;
    outline: 0;
    /* border: 1px solid #80b8de; */
    border: 1px solid #619699;
    border-radius: 10px;
    background: #f8f8f8;
}
label{
    margin-bottom: 3px;
    text-transform: capitalize;
    font-weight: 400;
}
.img-box{
    position: relative;
    width: 50px;
    margin: 50px;
}
/* .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.img-box input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }
/*   .img-box label.img-label {
    color:#619699 ;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px dashed #619699;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 10px;
  } */
  .img-box label.img-label svg{
    font-size: 0px;
  }
.section-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background: #619699; */
    /* margin-bottom: 20px; */
    cursor: pointer;
    border-radius: 10px;
    color: #619699;
}
.section-heading h1{
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.section-heading button{
    color: #619699;
}
.add-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background: #619699;
    border: none;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.skills-list ,.educations-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}
.skills-list .item ,.educations-list .item{
    border: 1px solid #ccc;
    background: #fff;
    padding: 8px 10px;
    border-radius: 10px;
}
.skills-list .item .skill_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
    font-weight: 500;
}
.skill_item button{
    border: 0;
    background: transparent;
    color: rgb(218, 7, 7);
    margin-top: 3px;
    font-size: 18px;
    cursor: pointer;
}
.item .progress{
    border-radius: 20px;
    margin-top: 8px;
    background: #ccc;
}
.progress .bar{
    background: #619699;
    height: 100%;
    border-radius: inherit;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s linear;
    border-radius: 25px;
}
.menu ul li a:hover{
    background: #619699;
    color: #fff;
}


.invalid-input::placeholder {
    color: red;
  }
  
  .valid-input::placeholder {
    color: #619699;;
  }

  .errors-list{
    background: red;
    margin-top: 10px;
    border-radius: 12px;
  }
.errors-list li{
    list-style: none;
    color: #fff;
    font-weight: 500;
    padding: 5px 12px;
}


/* .language-input {
    display: flex;
    gap: 20px;
      }
  .language-form{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  */
  .language-input label {
      font-size: 20px;
      width: 150px;
      }
  .language-input select {
      padding: 5px 15px;
      font-size: 15px;
      border-radius: 10px;
    }